/* GENERAL ELEMENTS */
html {
    font-family: Trebuchet MS, Arial, sans-serif;
    background-color: #323232;
    background-image: url("/assets/images/icecrystals.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    background-color: #ffffff;
    border-radius: 2ch;
    max-width: 120ch;
    padding: 2ch;
    margin: auto;
    margin-top: 2ch;
    margin-bottom: 2ch;
    color: #000000;
}
hr {
    border: none;
    height: 1px;
    background-color: #909090;
}
ul {
    list-style-type: ':\00b7  ';
}

/* TEXT */
.center {
    text-align: center;
}
a {
    color: #4b80c0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h2 {
    padding-top: 4ch;
}

/* INLINE CODE */
code {
    color: rgb(0,75,75);
    padding: 0.5ch;
}

/* CODE BLOCKS */
div.sourceCode {
    padding-left: 1ch;
    padding-right: 1ch;
    background-color: rgba(0, 50, 50, 0.7);
    border-radius: 1ch;
    max-width: 100ch;
}
pre.sourceCode {
    max-width: 100%;
    padding: 2ch;
    overflow-x: scroll;
    scrollbar-color: rgba(0,0,0,0.5) rgba(0,0,0,0);
}
a.sourceLine {
    color: #ffffff;
    text-decoration: none;
}
span.co { /* comment */
    color: #f0b0b0;
}
span.va { /* variable */
    color: #b0b0ff;
}
span.st { /* string */
    color: #ffffff;
}
span.bu { /* built-in commands? */
    color: #fac800;
}
span.kw { /* known functions? */
    color: #fac800;
}
span.fu { /* function */
    color: #fac800;
}
span.ex { /* expression */
    color: #a0a0a0;
}

/* TABLES */
table, td, th {
    border-collapse: collapse;
    border: 1px solid #909090;
}
td {
    padding: 0.5ch;
}
